<!DOCTYPE html>
<html>

<head>
  <title>MEDICINES</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.myschools.com/mycss/4/my.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
  <style>
    /* body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Karma", sans-serif
    }

    .my-bar-block .my-bar-item {
      padding: 20px;
      display: flex;
    }

    .my-center {
      width: 100%;
      height: 20%;
      font-size: 40px;
      text-align: center;

      color: black;
    }

    .my-main {

      display: flex;
      justify-content: space-between;

    }

    .my-quarter {
      border: 1px solid black;
    } */

    .navbar {

      background-color: rgb(41, 41, 41);
      position: relative;
      /* border-radius: 40px; */

    }


    .navbar::before {
      content: '';
      background-color: white;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.4;
    }

    .navbar ul {
      margin: 1px;
      overflow: auto;
    }

    .navbar li {
      float: left;
      list-style: none;
      margin: 20px 20px;
    }

    .navbar li a {
      padding: 3px 3px;
      color: white;
      list-style: none;
      text-decoration: none;
    }







    #logo {
      /* padding: 10px; */
      width: 135px;
      float: right;


    }

    .navbar ul li a {

      display: block;
      /* padding: 3px 22px; */
      border-radius: 20px;

    }
    .container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.card {
			margin: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 2px 5px rgba(0,0,0,0.3);
			width: 300px;
			text-align: center;
		}
		.card img {
			max-width: 100%;
			height: auto;
			border-radius: 5px;
			margin-bottom: 10px;
      display: flex;
		}
		.card h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		.card p {
			font-size: 16px;
			line-height: 1.5;
		}
    .footer li a:hover {
      color: gold;

    }

    .footer li a {


      border-radius: 20px;

    }

    .footer {
      background-color: black;
      color: aliceblue;

      align-items: center;


      color: #FCF8E8;
      display: flex;
      justify-content: space-around;

      width: 100%;

      flex-wrap: wrap;
      flex-grow: inherit;

    }

    .footer li a {
      color: grey;
    }

    .footer h4 {
      color: white;
    }

    .footer div {
      margin: 10px;
      padding: 20px;

    }
  </style>
</head>

<body>

  <header>
    <nav class="navbar">

      <ul>
        <li><img src="/ffsdprojectopiherb.jpg" alt="opiherb" id="logo">
        </li>
        <li></li>
        

        <li><a href="/login_signup2">Login</a></li>
        <li><a href="/login_signup2">Sign Up</a></li>
        <li><a href="after-login">Introduction</a></li>
        <li><a href="doctor_project_final">Doctors</a></li>
            <li><a href="project_final">Medicines</a></li>
            <!-- <li><a href="">Emergency</a></li> -->
            <li><a href="fsd">First Aid/Emergency</a></li>
            <li><a href="index">Premium</a></li>
            <li><a href="offers">Offers</a></li>

        <!-- <li><button type="button" class="btn btn-info" id="logo">Sign in/Sign up</button></li> -->

      </ul>
    </nav>
  </header>
  <!-- Top menu -->
  <!-- <div class="my-top">
    <div class="my-white my-xlarge" style="max-width:1200px;margin:auto">


      <div class="my-center ">MEDICINES</div>
    </div>
  </div>

  
  <div class="my-main my-content my-padding" style="max-width:1200px;margin-top:100px">

   
    <%for(m of model){%>
      <div class="my-row-padding my-padding-16 " id="med">
        <div class="my-quarter">
          <img src="img1.jpg" alt="med pic">
          <h5 class="product_name">
            <%=m.name%>
          </h5>
          <p class="cost">
            <%=m.cost%>
          </p>
          <p class="desc">
            <%=m.description%>
          </p>
        </div>

      </div>
      <%}%>
        <br> -->
        <%for(m of model){%>
        <div class="container">
          <div class="card">
            <img src="medicine1.jpg" alt="Medicine 1">
            <h2> <%=m.name%></h2>
            <h5><%=m.cost%></h5>
            <h5><%=m.description%></h5>
          </div>
          <!-- <div class="card">
            <img src="medicine2.jpg" alt="Medicine 2">
            <h2>Medicine 2</h2>
            <p>Nullam nec nunc eu odio dignissim suscipit. Nam laoreet diam vel tortor hendrerit, ac tristique augue tempus.</p>
          </div>
          <div class="card">
            <img src="medicine3.jpg" alt="Medicine 3">
            <h2>Medicine 3</h2>
            <p>Mauris id mauris mauris. Nunc tristique augue vel tellus malesuada, in feugiat mi mattis.</p>
          </div>
          <div class="card">
            <img src="medicine4.jpg" alt="Medicine 4">
            <h2>Medicine 4</h2>
            <p>Curabitur vel tincidunt mauris. In porttitor metus sit amet nisi hendrerit, sed aliquam velit placerat.</p>
          </div> -->
        </div>
        <%}%>
        <footer>
          <div class="footer">

            <div>
              <h4>Know us</h4>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Business</a></li>
              <li><a href="">Partnership</a></li>

            </div>
            <div>
              <h4>Our Policies</h4>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Grievance Redressal</a></li>
              <li><a href="">Fake jobs and Frauds</a></li>
            </div>
            <div>
              <h4>Our Services</h4>
              <li><a href="">Order Medicines</a></li>
              <li><a href="">Consult a Doctor</a></li>
              <li><a href="">Articles</a></li>
            </div>
            <div>
              <h4>Connect with Us</h4>
              <li>

                <a href="#" class="fab fa-facebook-f"> facebook</a>
              </li>
              <li>

                <a href="#" class="fab fa-twitter"> twitter</a>
              </li>
              <li>

                <a href="#" class="fab fa-instagram"> instagram</a>
              </li>


            </div>


          </div>
        </footer>